// ---
// ---

// @import "{{ site.theme }}";

body, h1, h2, h3, h4, h5, h6, a {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

.no-break {
	page-break-inside: avoid;
}

ul {
	margin: 0;
}

@page {
	// size: A3;
	margin: 0;
	-webkit-print-color-adjust: exact;
	zoom: 85%;
	scale: 0.85;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #F5F5F5;
	padding: 30px;

	box-shadow: 0px 0px 100px 0px #ccc;

	.image {
		background-image: url('../../images/avatar.jpg');
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		width: 30%;
		padding: 20px;
		box-sizing: border-box;
		width: 200px;
		height: 200px;
	}

	.description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
		padding-left: 15px;

		.links {
			padding: 0;

			li {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding-bottom: 7px;
				// justify-content: center;

				a {
					padding-left: 5px;
					font-size: 14px;
					line-height: 12px;
				}
			}
		}

		h1 {
			font-size: 4em;
		}

		h2 {
			font-size: 2em;
		}

		hr {
			display: block;
			height: 2px;
			margin: 0;
			// background: red;
		}
	}

	.separator {
		display: flex;
		background: black;

		&.vertical {
			width: 100%;
			height: 2px;
			margin: 10px 0;
		}

		&.horizontal {
			height: 100%;
			width: 2px;
			margin: 0 10px;
		}
	}
}

.content {
	padding: 0 50px;

	&>div {
		margin-top: 80px;
	}

	h2 {
		font-size: 2em;
		text-decoration: underline;
		margin-bottom: 20px;
	}

	p  {
		padding: 0 20px;
		line-height: 1.4;
		margin: 0;
	}

	.responsibilities {
		li {
			margin: 3px;
		}
	}

	.project {
		padding-bottom: 20px;

		&:last-child {
			padding-bottom: 0;
		}

		.title {
			font-size: 1.2em;
		}
	}

	.competencies {
		border-spacing: 0px;

		td {
			padding: 5px;
			border: 1px solid #333;

			&:first-child {
				border-left: 0;
			}
			&:last-child {
				border-right: 0;
			}
		}
	}

}