<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">

{% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>



  <div class="header">
    <div class="image">
    </div>
    <div class="description">
      <h1>{{ site.data.header.name }}</h1>
      <h2>{{ site.data.header.description }}</h2>
      <div class="separator vertical"></div>
      <ul class="links">
        {% for link in site.data.header.links %}
        <li>
          <img src="{{ link.icon }}" width="18" alt="">
          <a href="{{ link.link }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="content">
    <h2>Summary</h2>
    <p>{{ site.data.summary }}</p>

    <h2>Experience</h2>
    {% for project in site.data.projects %}
      <h4>{{ project.time_range }} {{ project.company }}</h4>
      <p><strong>Project Description:</strong> {{ project.description }}</p>
      <p><strong>Role:</strong> {{ project.role }}</p>
      <p>
        <strong>Responsibilities:</strong>
        <ul class="responsibilities">
          {% for responsibility in project.responsibilities %}
            <li>{{ responsibility }}</li>
          {% endfor %}
        </ul>
      </p>
    {% endfor %}

  </div>



  </body>
</html>